<?xml version="1.0" standalone="no" ?>

<ImageProcessors>
        <ImageProcessor name="ModuleDeTest4">
                <parameter id="0" name="input">MyCam1</parameter>
                <parameter id="2" name="module">SlitCamera1</parameter>
        </ImageProcessor>
	<!--
	<ImageProcessor name="ModuleDeTest1">
                <parameter id="0" name="input">InFile1</parameter>
                <parameter id="2" name="module">CascadeDetector1</parameter>
        </ImageProcessor>
        <ImageProcessor name="ModuleDeTest2">
                <parameter id="0" name="input">MyCam1</parameter>
                <parameter id="2" name="module">CascadeDetector2</parameter>
        </ImageProcessor>
	<ImageProcessor name="ModuleDeTest3">
                <parameter id="0" name="input">MyCam1</parameter>
                <parameter id="2" name="module">CascadeDetector3</parameter>
        </ImageProcessor>
        <ImageProcessor name="ModuleDeTest4">
                <parameter id="0" name="input">MyCam1</parameter>
                <parameter id="2" name="module">CascadeDetector4</parameter>
        </ImageProcessor>
	-->
</ImageProcessors>


<Manager>
	<parameter id="1" name="mode">benchmarkAA</parameter>
        <!--<parameter id="2" name="inputWidth">320</parameter>
	<parameter id="3" name="inputHeight">240</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="5" name="channels">3</parameter>
	-->
</Manager>

<!-- List all possibly used inputs-->
<Module name="MyCam1">
	<parameter id="0" name="class">UsbCam</parameter>
        <parameter id="1" name="inputWidth">200</parameter>
        <parameter id="2" name="inputHeight">100</parameter>
        <parameter id="3" name="inputType">CV_8UC3</parameter>
        <parameter id="4" name="num">-1</parameter>	
	<parameter id="4" name="fps">1000</parameter>
</Module>

<Module name="MyCam2">
	<parameter id="0" name="class">UsbCam</parameter>
        <parameter id="1" name="inputWidth">200</parameter>
        <parameter id="2" name="inputHeight">100</parameter>
        <parameter id="3" name="inputType">8</parameter>
        <parameter id="4" name="num">1</parameter>	
        <parameter id="4" name="fps">10</parameter>
</Module>

<Module name="InFile1">
	<parameter id="0" name="class">VideoFileReader</parameter>
        <parameter id="1" name="inputWidth">200</parameter>
        <parameter id="2" name="inputHeight">100</parameter>
        <parameter id="3" name="inputType">8</parameter>
        <parameter id="4" name="file">input/test.avi</parameter>
	<parameter id="4" name="fps">10</parameter>
</Module>

<!-- List all possibly used modules-->

<Module name="ObjectTracker1">
	<parameter id="0" name="class">ObjectTracker</parameter>
        <parameter id="2" name="inputWidth">640</parameter>
        <parameter id="3" name="inputHeight">480</parameter>
        <parameter id="4" name="inputType">8</parameter>
	<parameter id="3" name="input_blur_size">3</parameter>
	<parameter id="1" name="background_alpha">0.01</parameter>
	<parameter id="2" name="foreground_thres">0.2</parameter>
	<parameter id="3" name="foreground_filter_size">3</parameter>
	<parameter id="4" name="fps">0</parameter>
</Module>
<Module name="SlitCamera1">
	<parameter id="0" name="class">SlitCamera</parameter>
	<parameter id="2" name="inputWidth">640</parameter>
        <parameter id="3" name="inputHeight">480</parameter>
	<parameter id="4" name="inputType">CV_8UC3</parameter>
	<parameter id="1" name="aperture">4</parameter>
	<parameter id="4" name="fps">0</parameter>
</Module>
<Module name="SlitCamera2">
	<parameter id="0" name="class">SlitCamera</parameter>
        <parameter id="2" name="inputWidth">640</parameter>
        <parameter id="3" name="inputHeight">480</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="1" name="aperture">1</parameter>
	<parameter id="4" name="fps">1</parameter>
</Module>
<Module name="CascadeDetector1">
        <parameter id="0" name="class">CascadeDetector</parameter>
        <parameter id="2" name="inputWidth">320</parameter>
        <parameter id="3" name="inputHeight">240</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="6" name="fps">10</parameter>
        <parameter id="6" name="detectionFps">2</parameter>
        <parameter id="7" name="minNeighbors">3</parameter>
        <parameter id="8" name="minFaceSide">0</parameter>
        <parameter id="9" name="scaleFactor">1.1</parameter>
        <parameter id="4" name="filterFile">modules/CascadeDetector/haarcascade_fullbody.xml</parameter>
	<parameter id="4" name="color">(0,255,0)</parameter>
</Module>
<Module name="CascadeDetector2">
        <parameter id="0" name="class">CascadeDetector</parameter>
        <parameter id="2" name="inputWidth">320</parameter>
        <parameter id="3" name="inputHeight">240</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="6" name="fps">10</parameter>
        <parameter id="6" name="detectionFps">2</parameter>
        <parameter id="7" name="minNeighbors">3</parameter>
        <parameter id="8" name="minFaceSide">0</parameter>
        <parameter id="9" name="scaleFactor">1.1</parameter>
        <parameter id="4" name="filterFile">modules/CascadeDetector/haarcascade_profileface.xml</parameter>
	<parameter id="4" name="color">(12,255,255)</parameter>
</Module>
<Module name="CascadeDetector3">
        <parameter id="0" name="class">CascadeDetector</parameter>
        <parameter id="2" name="inputWidth">320</parameter>
        <parameter id="3" name="inputHeight">240</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="6" name="fps">10</parameter>
        <parameter id="6" name="detectionFps">2</parameter>
        <parameter id="7" name="minNeighbors">3</parameter>
        <parameter id="8" name="minFaceSide">0</parameter>
        <parameter id="9" name="scaleFactor">1.1</parameter>
        <parameter id="4" name="filterFile">modules/CascadeDetector/haarcascade_mcs_nose.xml</parameter>
	<parameter id="4" name="color">(255,0,200)</parameter>
</Module>
<Module name="CascadeDetector4">
        <parameter id="0" name="class">CascadeDetector</parameter>
        <parameter id="2" name="inputWidth">320</parameter>
        <parameter id="3" name="inputHeight">240</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="6" name="fps">10</parameter>
        <parameter id="6" name="detectionFps">2</parameter>
        <parameter id="7" name="minNeighbors">3</parameter>
        <parameter id="8" name="minFaceSide">0</parameter>
        <parameter id="9" name="scaleFactor">1.1</parameter>
        <parameter id="4" name="filterFile">modules/CascadeDetector/haarcascade_frontalface_default.xml</parameter>
	<parameter id="4" name="color">(128,255,0)</parameter>
</Module>

<Module name="CascadeDetector22">
        <parameter id="0" name="class">CascadeDetector</parameter>
        <parameter id="2" name="inputWidth">320</parameter>
        <parameter id="3" name="inputHeight">240</parameter>
        <parameter id="4" name="inputType">8</parameter>
        <parameter id="6" name="fps">10</parameter>
        <parameter id="6" name="detectionFps">1</parameter>
        <parameter id="7" name="minNeighbors">3</parameter>
        <parameter id="8" name="minFaceSide">0</parameter>
        <parameter id="9" name="scaleFactor">1.1</parameter>
        <parameter id="4" name="filterFile">modules/CascadeDetector/haarcascade_fullbody.xml</parameter>
</Module>

