<application name="ddd2" description="" cyclelimit="-1" gui="">
  <module name="SlitCamera1">
	<parameters>
	<param id="0" name="class">SlitCamera</param>
	<param id="2" name="inputWidth">640</param>
        <param id="3" name="inputHeight">480</param>
	<param id="4" name="inputType">CV_8UC3</param>
	<param id="1" name="aperture">4</param>
	<param id="4" name="fps">100</param>
	</parameters>
    <inputs>
      <input id="0" moduleid="1" outputid="0" />
    </inputs>
    <outputs>
      <output id="0" />
    </outputs>
    <display x="284" y="242" width="150" height="75" />
    <uiobject type="" x="0" y="0" width="0" height="0" />
  </module>
  <module name="UsbCam" machineurl="localhost" id="1">
    <parameters>
      <param name="class">UsbCam</param>
      <param name="inputWidth">200</param>
      <param name="inputHeight">100</param>
      <param name="inputType">CV_8UC3</param>
      <param name="num">-1</param>
      <param name="fps">1000</param>
    </parameters>
    <inputs />
    <outputs>
      <output id="0" />
    </outputs>
    <display x="50" y="50" width="150" height="75" />
    <uiobject type="" x="0" y="0" width="0" height="0" />
  </module>
</application>

