/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none
}

/** OPEN SANS FONT **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
 	/* note: Maybe find a compatible font
 		src:local('Open Sans'), 
 		local('OpenSans'),
 		url("OpenSans-Regular.ttf") format('truetype'),
 		url("OpenSans.woff") format('woff'); */
}

/** PAGE STRUCTURE **/
body {
	padding:0;
	margin:0;
	background-color:white;
	/*font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	background-color:#eaedef;
}


/* demo elements */

a, a:visited {
	text-decoration:none;
	color:#5c96bc;
	border-radius:0.2em;
	-webkit-transition: color 0.15s ease-in;
	-moz-transition: color 0.15s ease-in;
	-o-transition: color 0.15s ease-in;
	transition: color 0.15s ease-in;
}

a:hover {
	color:#1b911b;
}

.selected {
	color:orange !important;
}

path, ._jsPlumb_endpoint { cursor:pointer; }


/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }
._jsPlumb_connector._jsPlumb_hover {
	z-index:21 !important;
}
._jsPlumb_endpoint._jsPlumb_hover {
	z-index:22 !important;
}
._jsPlumb_overlay._jsPlumb_hover {
	z-index:23 !important;
}
