/** ELEMENT POSITIONS **/

/** ELEMENTS **/
.window{
	font-size:0.8em;
	font-family:serif;
	font-style:italic;
	padding-top:0.9em; 
	line-height:1.5em;
	overflow: hidden;
	z-index: 3; /* TODO: ignored ? */
}

/** LINKS IN WINDOWS **/
.window.drag-locked { border:1px solid red; }
.window.cmdLink { font-size:0.80em;}

/** DRAG/DROP CLASSES **/
.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }

